registry=https://registry.npmjs.org/
; begin auth token
//sincofenix.pkgs.visualstudio.com/_packaging/SincoFenix/npm/registry/:username=SincoFenix
//sincofenix.pkgs.visualstudio.com/_packaging/SincoFenix/npm/registry/:_password=N3dhMmpsdmU3bGF6dnd3cHBqZDY2YXFvdDdkdXF2eXd5a2F0dGgzYnd4dnN4emRtbDUzYQ==
//sincofenix.pkgs.visualstudio.com/_packaging/SincoFenix/npm/registry/:email=luis.diaz@sinco.com.co
//sincofenix.pkgs.visualstudio.com/_packaging/SincoFenix/npm/:username=SincoFenix
//sincofenix.pkgs.visualstudio.com/_packaging/SincoFenix/npm/:_password=N3dhMmpsdmU3bGF6dnd3cHBqZDY2YXFvdDdkdXF2eXd5a2F0dGgzYnd4dnN4emRtbDUzYQ==
//sincofenix.pkgs.visualstudio.com/_packaging/SincoFenix/npm/:email=luis.diaz@sinco.com.co
; end auth token
@sinco:registry=https://sincofenix.pkgs.visualstudio.com/_packaging/SincoFenix/npm/registry/
always-auth=true