@use '@angular/material' as mat;
// Colores base

$white: white;
$transparent:transparent;
$darken:18;
$padding-vertical-small: 8px;
$padding-vertical-medium: 12.5px;

$line-height-small:16px;
$line-height-medium:20px;