.mat-icon {
  font-size: 1.8rem !important;
  width: 18px !important;
  height: 18px !important;
}
.mat-icon.medium {
  font-size: 2rem !important;
  width: 20px !important;
  height: 20px !important;
}
.mat-icon.large {
  font-size: 2.2rem !important;
  width: 22px !important;
  height: 22px !important;
}
