//radio-button size variants

.mdc-radio__background {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.mdc-radio__inner-circle {
  border-width: 7px !important;
  margin: 2px 3px;
}
.mdc-radio__outer-circle {
  margin: 2.2px 3px !important;
}
.medium {

  .mdc-radio__background {
    width: 2.0rem !important;
    height: 2.0rem !important;
  }
  .mdc-radio__inner-circle {
    border-width: 1rem !important;
    margin: 0.4px !important;
  }
  .mdc-radio__outer-circle {
    margin: 0.4px !important;
  }
}
.large {
  .mdc-radio__background {
    width: 23px !important;
    height: 23px !important;
  }
  .mdc-radio__inner-circle {
    border-width: 11px !important;
    margin: -2px -1.5px !important;
  }
  .mdc-radio__outer-circle {
    margin: -2px -1.5px !important;
  }
}
