.page-header{
    background-color: #fff;
    box-shadow: 0px 2px 1px -2px rgba(24, 39, 75, 0.2);

    box-shadow: 0px 1px 1px -1px rgba(24, 39, 75, 0.14);
    
    box-shadow: 0px 1px 3px 0px rgba(24, 39, 75, 0.12);
    
}